@model ResponsivePictureSample.Features.Pages.ProjectListPage.ProjectListPageViewModel

@using React.Web.Mvc
@using ResponsivePictureSample.Features
@using ResponsivePictureSample.Features.Pages.ProjectPage

<div>
    <div class="header">
        <div class="content">
            <h1>@Html.PropertyFor(m => m.Content.Title)</h1>
            <h2>@Html.PropertyFor(m => m.Content.Subtitle)</h2>
        </div>

        @Html.ImagePropertyFor(m => m.Content.MainImage, PictureProfiles.HeaderImage)
    </div>
    <div class="content">
        @Html.React("ProjectList", new
        {
            profile = PictureProfiles.ProjectImagesGallery,
            projects = Model.Projects
        })
    </div>
</div>

@Html.ReactInitJavaScript()

<style> 
    .header {
        width: 100%;
        height: 60vh;
        position: relative;
        background-color: black;
    }
    
    .header img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0.5;
        object-fit: cover;
        object-position: center;
        z-index: 1;
    }
    
    .header h1 {
        position: absolute;
        top: 50%;
        z-index:2;
        color:  white;
    }
    
    .header h2 {
        position: absolute;
        top: 70%;
        z-index:2;
        color:  white;
    }
    
    .filters {
        display: flex;
    }
    .filters button {
      background: none!important;
      border: none;
      padding: 12px;
      color: black;
      text-decoration: none;
      cursor: pointer;
      margin: 24px;
      font-size: 25px;
    }
    
    .filters button.active {
        text-decoration: underline;
    }
    
    .filters button:first-of-type {
        margin-left: auto;
    }
    
    .filters button:last-of-type {
        margin-right: auto;
    }
    
    .content {
            margin: auto;
            max-width: 1140px;
            padding: 0 2em;

    }
    
    .teasers {
        display: flex;
         flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
    }
    
    .teaser {
        padding: 15px;
        width: 30%;
    }
    
    .teaserImage {
        width: 100%;
        height: 250px;
    }
    
    .teaser img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .teaser a {
        text-decoration: none;
        color: black;
    }
    
    .teaser h2 {
        font-size: 25px;
    }
</style>